body{
  background: #E8DFC2;
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-position:50% 5%;
  background-attachment:fixed;
  text-align:center;
}

nav
{
	background: #222222;
}
nav button{
	margin:0px;
	background: #222222;
	border:0px;
	height:34px;
	width:34px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#player{	
	margin-left: auto;
	margin-right: auto;
}

#now_playing{
  color:white;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

#show-items{	
    cursor: move;
    background-color: #E6E6E6;
}

#show-items td a:hover {
    text-decoration: underline;
    color: orange;
}

#show-items a,
#show-items a:link {
    float: right;
    color: orange;
}

#queue-list{  
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.queue-control{
  margin-left: auto;
  margin-right: auto;
}

#newSongUrl{
    height: 30px;
    width: 400px;
    padding: 5px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

#addNewSong{
    padding: 5px;
    margin:5px;
    height: 25px;
    font-size: 12px;
}

#player-controls img,
#player-vinheta img{
  width:24px;
  height:auto;
}

.vote img{
  width:10px;
  height:auto;
  margin:5px 10px;
}

span{
  font-family:"Times New Roman", Times, serif;
}

.videoitem{
  font-family:"Times New Roman", Times, serif;
  font-size:15px;  
}
