<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
   
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"  />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]--> 

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="now_playing" class="nav navbar-nav">
            <span class="now_playing" id="empty"></span>
          </ul>
          <!-- Login -->
          <nav>
            <ul>
              <li id="login">
                <a id="login-trigger" href="#">
                  Log in <span>▼</span>
                </a>
                <div id="login-content" style="display: none;">
                 <div class="container">
                    <form class="form-signin">
                      <h2 class="form-signin-heading">Login</h2>
                      <input type="text" class="form-control" placeholder="Username" autofocus="">
                      <input type="password" class="form-control" placeholder="Password">
                      <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Lembrar
                      </label>
                      <button class="btn btn-lg btn-primary btn-block" type="submit">#GoGoGo</button>
                    </form>
                  </div>
                </div>
                {% if session.key %}
                <div id="player-controls">
                  <button type="submit" class="control" id="revert">
                    <img src="{{ url_for('static', filename='repeat.jpg')}}" alt="Revert"></button>
                  <button type="submit" class="control" id="startPL">
                    <img src="{{ url_for('static', filename='play.jpg')}}" alt="Play"></button>
                  <button type="submit" class="control" id="pausePL">
                    <img src="{{ url_for('static', filename='pause.jpg')}}" alt="Pause"></button>
                  <button type="submit" class="control" id="next">
                    <img src="{{ url_for('static', filename='next.jpg')}}" alt="Next">
                  </button>
                </div> 
                {% endif %}                   
              </li>
            </ul>
          </nav>
         </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container-fluid">
       <div class="row-fluid">
        <div class="col-md-3">
          <div  style="height:540px;overflow:auto;">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="show-items"  >
              <thead>
                <tr>
                        <th>#</th>
                        <th>Título</th>
                </tr>
              </thead>

            </table>
          </div>
          {% if session.key %}
          <div class="queue-control">
            <a href="#" id="clear-all">Clear All</a>
          </div>
          {% endif %}
        </div>
        <div class="col-md-8">	 
          {% if session.key %}
          <div id="player" align="center"></div>
          {% endif %}
          <div class="queue-control">
            <input id="newSongUrl" type="text" />
            <input id="addNewSong" type="submit" value="Add"/>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="js/jquery.inlineedit.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pubsub.js"></script>
    <script src="js/base.js"></script>
    <script src="js/youtube.js"></script>
  </body>
</html>

