<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title() }}</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"  type="text/css" />
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title() }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="now_playing" class="nav navbar-nav">
            <span class="now_playing" id="empty"></span>
          </ul>
          <!-- Login -->
          <nav>
            <ul>
              <li id="login">
                  {% if session.session_key %}
                <a id="login-trigger" href={{ url_for('logout') }}>
                  Logout 
                </a>
                  {% else %}
                  <a id="login-trigger" href="#">
                  Login <span>▼</span>
                </a>
                <div id="login-content" style="display: none;">
                 <div class="container">
                    <form class="form-signin" action="{{ url_for('login') }}" method=post>
                      <h2 class="form-signin-heading">Login</h2>
                      <input name=username type="text" class="form-control" placeholder="Username" autofocus="">
                      <input name=password type="password" class="form-control" placeholder="Password">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">#GoGoGo</button>
                    </form>
                  </div>
                </div>
                  {% endif %}
              {% if session.session_key %}
                <div id="player-controls">
                  <button type="submit" class="control" id="revert">
                    <img src="{{ url_for('static', filename='previous.png')}}" alt="Revert"></button>
                  <button type="submit" class="control" id="startPL">
                    <img src="{{ url_for('static', filename='play.png')}}" alt="Play"></button>
                  <button type="submit" class="control" id="next">
                    <img src="{{ url_for('static', filename='next.png')}}" alt="Next">
                  </button>
                </div>
              {% endif %}                                   
              </li>
            </ul>
          </nav>
         </div><!--/.navbar-collapse -->
      </div>
    </div>


    <div class="container-fluid">
          {% if not session.session_key %}
          <div class="row-fluid">
            <div class="queue-control">
                <input id="newSongUrl" type="text" />
                <input id="addNewSong" type="submit" value="Add"/>
            </div>
          </div>
          {% endif %}
        <div class="row-fluid">
          {% if session.session_key %}
            <div class="col-md-6">
          {% endif %}

            <div id="queue-list" style="overflow:auto;">
              <table id="show-items" cellpadding="0" cellspacing="0" border="0" class="table  table-hover table-condensed" >
              </table>

              {% if session.session_key %}
              <div class="queue-control">
                <a href="#" id="clear-all">Clear All</a>
              </div>
              {% endif %}
            </div>
            
      {% if session.session_key %}
          </div>

          <div class="col-md-6">	 
            
            <div id="player" align="center"></div>
            
            <div class="queue-control">
              <input id="newSongUrl" type="text" />
              <input id="addNewSong" type="submit" value="Add"/>
            </div>
            <br>
            <div id="player-vinheta">
                  <audio id="player_vinheta1">
                    <source src="" type="audio/mpeg" />
                    <em>No support to HTML5 audio.</em>
                  </audio>
                  <audio id="player_vinheta2">
                    <source src="" type="audio/mpeg" />
                    <em>No support to HTML5 audio.</em>
                  </audio>
                  <audio id="player_vinheta3">
                    <source src="" type="audio/mpeg" />
                    <em>No support to HTML5 audio.</em>
                  </audio>
                  
                  <input type="file" class="control" id="input_vinheta1" accept="audio/*" style="display:none" onchange="javascript:set_vinheta1(this.files)"/>
                  <input type="file" class="control" id="input_vinheta2" accept="audio/*" style="display:none" onchange="javascript:set_vinheta2(this.files)"/>
                  <input type="file" class="control" id="input_vinheta3" accept="audio/*" style="display:none" onchange="javascript:set_vinheta3(this.files)"/>

                  <a href="javascript:get_vinheta1()">
                      <img src="{{ url_for('static', filename='vinheta.png')}}" alt="Vinheta1">
                  </a>
                    <a href="javascript:play_vinheta1()">
                      <span class="vinheta_txt" id="txt_vinheta1">Empty</span>
                    </a>
                    <br>
                  <a href="javascript:get_vinheta2()">
                      <img src="{{ url_for('static', filename='vinheta.png')}}" alt="Vinheta2">
                  </a>
                    <a href="javascript:play_vinheta2()">
                      <span class="vinheta_txt" id="txt_vinheta2">Empty</span>
                    </a>
                    <br>
                  <a href="javascript:get_vinheta3()">
                      <img src="{{ url_for('static', filename='vinheta.png')}}" alt="Vinheta3">
                  </a>
                    <a href="javascript:play_vinheta3()"> 
                      <span class="vinheta_txt" id="txt_vinheta3">Empty</span>
                    </a>
                    <br>
            </div>
          </div>
      {% endif %}
      </div>
    </div>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="js/jquery.inlineedit.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pubsub.js"></script>
    <script src="js/base.js"></script>
    <script src="js/youtube.js"></script>
  </body>
</html>

