<!doctype HTML>
<html>
    <head>
        <title>Community Playlist</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css" />
    </head>
    <body>
        <div id="container">
            <span id="title">Community PlayList</span>
            <br>
         {% if session.logged_in %}
         Você está logado!
        {% endif %}
        <div id="player"></div>
		<br>
		<input id="startPL" type="submit" value=Start>
		<input id="pausePL" type="submit" value=Pause>
        <input id="next" type="submit" value=">>">
		<br>
        <input id="newSongUrl" type="text" />
        <input id="addNewSong" type="submit" value="Add"/>
		<br>
		<input id="upd" type="submit" value="Atualizar">
		<br>
 		<ul id="show-items"></ul>
            <a href="#" id="clear-all">Clear All</a>
        </div>
        <script src="js/jquery-1.4.4.min.js"></script>
        <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
        <script src="js/jquery.inlineedit.js"></script>
        <script src="js/pubsub.js"></script>
        <script src="js/base.js"></script>
        <script>
            //Load player api asynchronously.
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[5];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  height: '390',
                  width: '640',
                  videoId: 'dQw4w9WgXcQ',
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });
            }
            function checkValidUrl(url){
                if(url == null){
                    return 0;
                }else{
                    return 1;
                }
            }
            $("#startPL").click(function(){
                if(player.getPlayerState() == YT.PlayerState.PAUSED){
                    player.playVideo();
                }
            });

            $("#pausePL").click(function(){
                player.pauseVideo();
            });

            $("#next").click(function(){
                playNextVideo();
            });
            function playVideoByUrl(url){
                player.loadVideoByUrl(url);
            };
           function playNextVideo(){
                $.getJSON( SCRIPT_ROOT + '/_next',
                        {},
                        function(item){
                                console.log("Proximo video "+item);
                            if(item != null){
                                playVideoByUrl(item);
                                update_function();
                            }
                        })
            };
            function onPlayerReady(evt) {
                console.log('playing '+playing)
                //if(playing)
                    evt.target.playVideo();
            };
            function onPlayerStateChange(evt) {
                console.log('new state '+evt.data)
                if (evt.data == YT.PlayerState.ENDED) {
                    playNextVideo();
                }
            };
            function stopVideo() {
                player.stopVideo();
            };
        </script>
    </body>
</html>
