<!doctype HTML>
<html>
    <head>
        <title>Community Playlist</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css" />
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <div id="container">
            <span id="title">Community PlayList</span>
            <br>      

         {% if session.key %}
         You are the boss!!!
         <br>
        <div id="player"></div>
        <br>
        <a href="/logout" id="logout">Logout</a>
        <br>
        <input id="startPL" type="submit" value=Start>
        <input id="pausePL" type="submit" value=Pause>
        <input id="next" type="submit" value=">>">
        {% else %}
        <br>
        <a href="/login" id="login">Login</a>
        {% endif %}
		<br>
        <span class="now_playing" id="empty"></span>
        <br>
        <input id="newSongUrl" type="text" />
        <input id="addNewSong" type="submit" value="Add"/>
		<!--
        <br>
	    <input id="upd" type="submit" value="Atualizar">
		//-->
        <br>
 		<ul id="show-items"></ul>
          {% if session.key %}
            <a href="#" id="clear-all">Clear All</a>
        {% endif %}
        </div>
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
        <script src="js/jquery.inlineedit.js"></script>
        <script src="js/pubsub.js"></script>
        <script src="js/base.js"></script>
        <script src="js/youtube.js"></script>
    </body>
</html>
