<!doctype HTML>
<html>
    <head>
        <title>Community Playlist - Remote Player</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css" />
    </head>
    <body>
        <div id="player"></div>
        <script src="js/jquery-1.4.4.min.js"></script>
        <script src="js/jquery-ui-1.8.7.custom.min.js"></script>
        <script src="js/jquery.inlineedit.js"></script>
        <script src="js/pubsub.js"></script>
        <script src="js/base.js"></script>       
        <script src="js/youtube-remote.js"></script>
    </body>
</html>
